.catalog-button{
    width: 140px;
    background-color: rgb(239, 51, 64);
    color: white;
    border: 0px;
    font-size: 14px;
    height: 44px;
    border-radius: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.catalog-icon{
    width: 24px;
}
