header{
    width: 100vw;
    height: 300px;
    border: 1px solid black;
    padding: 0px 20px;
}
.navbar{
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer{
    height: 120px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 195px;
    padding: 0 20px 0 0;
}
