
        .searchContainer {
          position: relative;
          display: flex; 
          align-items: center; 
          width: 528px; 
          max-width: 100%; 
          border-radius: 24px; 
          border: 2px solid rgb(203, 213, 225);
        }

        .searchInput {
          width: 100%; 
          padding: 12px 40px 12px 12px;
          border-radius: 24px;
          border: none;
          background-color: rgb(248, 250, 252); 
          color: rgb(15, 23, 42); 
          outline: none; 
          transition: border-color 0.2s, box-shadow 0.2s;
        }

        .searchInput::placeholder {
          color: rgb(15, 23, 42); 
        }

        .searchInput:focus {
            background-color: white;
          box-shadow: 0 0 0 2px rgba(203, 213, 225, 0.5); 
        }

        .searchIcon {
          position: absolute; 
          right: 8px;
          padding: 8px;
          color: rgb(15, 23, 42);
          cursor: pointer;
          border-radius: 9999px; 
          background: none;
          border: none; 
          display: flex; 
          justify-content: center; 
          align-items: center; 
          transition: color 0.2s; 
        }

        .searchIcon:hover {
          color: rgb(37, 99, 235);
        }
